* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

form {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;          
}

form #container {
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;    
    margin-top: 50px;
}  

form #container #fields-container .container-names-emails .container-friend{
    display: flex;
    align-items: center;
    margin-left: 14px;
    margin-right: 14px;

}

form #container h1 {
    text-align: center;
    margin-bottom: 53px;
    margin-top: 14px;
}

form #container #fields-container .container-names-emails input {
    width: 290.09px;
    height: 35.89px;

    border: 1px solid #F0F2EB;
    border-radius: 4px;
    margin-bottom: 16px;

    padding-left: 8px;
    color: black;
}

form #container #fields-container .container-names-emails fieldset legend {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}

form #container #fields-container .container-names-emails .container-friend .name fieldset input {
    margin-right: 144.58px;
}

form #container #fields-container .container-names-emails .container-emails fieldset {
    position: relative
}
form #container #fields-container .container-names-emails .container-emails span {
    position: absolute;
    cursor: pointer;
}

form #container #fields-container .buttons {
    display: flex;
}

form #container #fields-container .buttons #add-friend {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;

    width: 149px;
    height: 42px;
    margin-top: 26.11px;
    margin-left: 14px;

    background: #2E42E6;
    border-radius: 8px;
    cursor: pointer;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;

    color: #EEEFEC;

    transition: all 400ms;
}

form #container #fields-container .buttons #add-friend:hover {
    background: #394de0;
}

form #container #fields-container .buttons #draw-friends {
    margin: 0 20%;
    margin-top: 116px;
    margin-bottom: 14px;

    width: 149px;
    height: 42px;

    background: #2E42E6;
    border-radius: 8px;
    cursor: pointer;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;

    color: #EEEFEC;

    transition: all 400ms;
}

form #container #fields-container .buttons #draw-friends:hover {
    background: #394de0;
}

form #container #fields-container .container-names-emails .container-friend #remove-friend {
    cursor: pointer;
    margin-top: 10px;
}


@media (max-width: 576px) { 
    form #container{
        margin-top: 0px !important;
        box-shadow: none;
    }

    form #container #fields-container .container-names-emails input {
        width: 150px;
    }

    form #container #fields-container .container-names-emails .container-friend .name fieldset input {
        margin-right: 14px;
    }

    form #container #fields-container .buttons #draw-friends {
        margin: 116px -14%;
    }

    form #container #fields-container .buttons #add-friend {
        margin-top: 14px;
    }
}

.container-loader {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.container-success {
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    align-items: center;
}

.container-success .success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-success .success p {
    margin-top: 8px;
}

.container-loader .loader {
    position: absolute;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #394de0;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error {
    position: absolute;
    display: none;
    padding: 8px 16px;
    color: #5f2120;
    background: #fdeded;
    width: 300px;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 4px;
}